{% extends 'ubase.html' %}

{% block body %}
      <div class="logincolonne mt-5">
        <form class="formlogin mt-5" action="." method="POST">
        {% csrf_token %}
        <div class="">
                <div class="panel panel-default">
                    <div class="text-primary mb-5"><h3>Edit Fridge</h3></div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                      <p>Name :    {{editfridge_form.nom}}</p> 
                      <p>Location :{{editfridge_form.location}}</p>   
                      <p style="display:none;" >{{editfridge_form.user}}</p> 
                </div>
        </div>     
        <input type="submit" class="btn btn-warning" value="save" />
        </form>
{% endblock %}